.header{
    background-color: #f218d4;
    display: flex;
    padding: 20px 100px;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
}
.headercard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.header a{
    text-decoration: none;
    color: #fff;
    transition: all linear .5s;
}
.header a:hover{
    color: yellow;
}


@media (max-width: 992px){
    .header{
        display: none; 
    }

}