.ContactContainer {
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 50px;
}
.heading{
        font-size: 35px;
    font-weight: 700;
}
.links a{
    text-decoration: none;
    color: #505050;
    font-weight: 400;
}
.links a:hover{
    color: #ff3115;
}
.contact{
    color: #ff3115;
}

.container{
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px 100px;
     display: flex;
    justify-content: center;
     align-items: center;
}
.input{
    padding: 5px 10px;
    margin-top: 20px;
}
.contant{
     display: flex;
    justify-content: center;
     align-items: center;
     gap: 15px;
}
.select{
    padding: 5px 50px;
    margin-top: 15px;
    border: none;
    outline: none;
}
.button{
    padding: 7px 10px;
    border: none;
    outline: none;
    background-color: #ff3115;
    margin-top: 20px;
}