.container {
    width: 100%;
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  
  .accordion {
    width: 45%;
    background: white;
    padding: 15px;
  }
  
  .header {
    background: red;
    color: white;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .content {
    padding: 10px;
    font-size: 14px;
    color: #505050;
    font-weight: 400;
  }
  
  @media (max-width:992px) {
    .container{
      flex-direction: column;
    }
    .accordion{
      width: 100%;
      margin-bottom: 10px;
    }
  }