
.container{
  padding: 10px 100px;
  margin-top: 100px;
  background-color: #38374a;
}
.head{
  text-align: center;
    margin-bottom: 30px;
    color: #fff;
}
  .head h1{
    border-bottom:2px solid #ff3115 ;
    display: inline-block;
}

  .testimonial-card {
    background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
    width: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: transform 0.3s ease;
    
  }
  .testimonial-wrapper{
    padding: 20px 0px;
  
  }
  
 
  .testimonial-img {
    width: 60px;
    height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

  .testimonial-card p{
    font-size: .8rem;
  }